h1 span {
    
    font-family: monospace;
    font-size: 275px;
    font-weight: bold;
    font-stretch: ultra-condensed;
    letter-spacing: -80px;
    line-height: 1;
    animation:blinkingText .5s infinite;
}
@keyframes blinkingText{
    0%{     color: #603631  }
    49%{    color: rgb(17, 190, 212); }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

h1 .ca {
    color: #603631;
}
h1 .cb {
    color:#9f2b60;
}
h1 .cc {
    color:#7a490b;
}
h1 .cd {
    color:#db600e;
}
h1 .ce {
    color:#427263;
}
body{
    background-image: url(./img/images.jpeg);
}
p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    border-style: groove;
    border-color: aquamarine;
    background-color: burlywood;
    
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
    background-color: tomato;
}

ul, ol {
    margin: 20px;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    background-color: crimson;
    
}
li:nth-child(odd){
    background-color: darkgoldenrod;
}
li:last-child {
    border: dotted;
}
strong{
    font-size: 100px;
    color: violet;
    animation:blink .5s infinite;
}
@keyframes blink{
    0%{     color: #ee210a  }
    49%{    color: rgb(23, 13, 153); }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

h3 {
    background-image: url(/img/images.png);
    background-size: cover;
}
form {
    height:110px;
    width:190px;
    margin:auto;
    border:100px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}

